@import 'mixins';

body {
  font-family: "Helvetica", sans-serif;
  margin-top: 5em;
  margin-bottom: 2em;
}

.row {
  margin-bottom: 1em;
  .row {
    margin-bottom: 0
  }
}

.sidebar {
  height: 100vh;
  border-right: thin solid #1c1e22;
  padding-right: 15px;
}

.search-bar {
  @media (min-width: 1200px) {

  }

  @media (min-width: 992px) {
    width: 24%;
  }

  @media (max-width: 767px) {
    width: 33.33333333%
  }
}

#images {
  @media (max-width: 767px) {
    margin-top: 500px;
  }
}

.social-links {
  a:hover {
    color: #3e444c;

    .fa-inverse {
      color: darken(#fff, 5%);
    }
  }
}

/* font awesome fixes */
.fa-inverse {
  color: (invert(#ffffff));
}