@import 'mixins';

.thumbnail {
  .thumbnail-inner, img {
    margin-left: auto;
    margin-right: auto;
  }

  .thumbnail-inner {
    height: 150px;
    width: 100%;
    position: relative;

    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  img {
    max-height: 150px;
    max-width: 98%;
  }

  .overlay {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .fav-img-button, .edit-img-button, .open-img-button {
    @include box-shadow(2px, 2px, 6px, darken(mix(#484e55, #313539), 20%));
    @include transition(opacity .25s ease-in-out);
    opacity: .55;

    &:hover {
      opacity: .9;
    }
  }
}

#instagram {
  ul > li {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.instagram-wrapper {
  position: relative;

  .download-insta {
    position: absolute;
    top: .75em;
    right: .75em;

    @include box-shadow(2px, 2px, 6px, darken(mix(#484e55, #313539), 20%));
    @include transition(opacity .25s ease-in-out);
    opacity: .55;

    &:hover {
      opacity: .9;
    }
  }
}