doctype
html
    head
        | {% assets "vendor_css" %}
        link(rel='stylesheet', href='{{ ASSET_URL}}')
        | {% endassets %}
        | {% assets "app_css" %}
        link(rel='stylesheet', href='{{ ASSET_URL }}')
        | {% endassets %}

        title Scarlett - #{title}
    body
        include shared/includes/navbar

        block content

        // Modals
        include main/modals/settings
        include main/modals/editMultipleImages
        include images/modals/noImages
        include images/modals/uploadImage
        include people/modals/addPerson
        include people/modals/addPeople
        include tags/modals/addTag

        // Scripts
        | {% assets "vendor_js" %}
        script(src='{{ ASSET_URL }}')
        | {% endassets %}
        | {% assets "app_js" %}
        script(src='{{ ASSET_URL }}')
        | {% endassets %}

        script.
            $.notify.defaults({ className: "success" })

        block script
