extends ./_layout

block content
    .container
        .row
            .col-md-12
                ul.breadcrumb
                    li
                        a(href='/')
                            span.fa.fa-home

                    li.active Stats

        .row
            .col-md-12
                ul.nav.nav-tabs
                    li.active
                        a(href='#people', data-toggle='tab') People

                    li
                        a(href='#tags', data-toggle='tab') Tags

                .tab-content(style='margin-top: 1em;')
                    #people.tab-pane.active.fade.in
                        .panel.panel-default
                            .panel-heading
                                | People/Image Stats

                            table.table
                                tbody
                                    tr
                                        th People
                                        td {{people.People}}

                                    tr
                                        th Images
                                        td {{people.Images}}

                                    tr
                                        th Average Photos Per Person
                                        td {{people.Average}}

                                    tr
                                        th Median
                                        td {{people.Median}}

                                    tr
                                        th Mode
                                        td {{people.Mode}}

                                    tr
                                        th Standard Deviation
                                        td {{people.StdDev}}

                                    tr
                                        th Lower
                                        td {{people.Lower}}

                                    tr
                                        th Higher
                                        td {{people.Higher}}

                                    tr
                                        th Variance
                                        td {{people.Variance}}


                        .panel.panel-default
                            .panel-heading
                                | Top People

                            table.table.table-hover
                                thead
                                    tr
                                        th
                                        th Name
                                        th.text-center Images
                                        th.text-center %

                                tbody
                                    | {% for p in people.TopPeople %}
                                    tr
                                        td.text-center {{loop.index}}
                                        td
                                            a(href='/people/edit/{{p.PersonId}}') {{p.Name}}
                                        td.text-center {{p.Images}}
                                        td.text-center {{p.Percentage}}%
                                    | {% endfor %}




                    #tags.tab-pane.fade
                        .panel.panel-default
                            .panel-heading
                                | Tag/Image Stats

                            table.table
                                tbody
                                    tr
                                        th Tags
                                        td {{tags.Tags}}

                                    tr
                                        th Images
                                        td {{tags.Images}}

                                    tr
                                        th Average Photos Per Tag
                                        td {{tags.Average}}

                                    tr
                                        th Median
                                        td {{tags.Median}}

                                    tr
                                        th Mode
                                        td {{tags.Mode}}

                                    tr
                                        th Standard Deviation
                                        td {{tags.StdDev}}

                                    tr
                                        th Lower
                                        td {{tags.Lower}}

                                    tr
                                        th Higher
                                        td {{tags.Higher}}

                                    tr
                                        th Variance
                                        td {{tags.Variance}}


                        .panel.panel-default
                            .panel-heading
                                | Top Tags

                            table.table.table-hover
                                thead
                                    tr
                                        th
                                        th Name
                                        th.text-center Images
                                        th.text-center %

                                tbody
                                    | {% for t in tags.TopTags %}
                                    tr
                                        td.text-center {{loop.index}}
                                        td
                                            a(href='/tags/edit/{{t.TagId}}') {{t.TagName}}
                                        td.text-center {{t.Images}}
                                        td.text-center {{t.Percentage}}%
                                    | {% endfor %}