extends ./_layout

block content
    .container-fluid
        .row
            .col-sm-4.col-md-3
                .search-bar(data-spy='affix')
                    include ./main/includes/search_sidebar

            #images.col-sm-8.col-md-9
                include ./main/includes/viewImages
