// Search Images Modal
#searchImagesModal.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') x
                h4.modal-title Search Images
            .modal-body
                form#searchForm
                    .form-group
                        label.control-label Tags
                        select.form-control(multiple="multiple")
            .modal-footer
                button#btnSearch.btn.btn-primary(type='button') Search
                button.btn.btn-default(type='button', data-dismiss='modal') Close