// No Images Modal
#noImagesModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title No Images Found
          .modal-body
            p No images were found for the tag you selected
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close