// Upload Image Modal
#uploadImageModal.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') x
                h4.modal-title Upload Local Image
            .modal-body
                form(enctype="multipart/form-data", method='POST')
                    ul.nav.nav-tabs
                        li.active
                            a(href='#image', data-toggle='tab')
                                | Local Image
                        li
                            a(href='#dir', data-toggle='tab')
                                | Local Directory

                        li
                            a(href='#remote', data-toggle='tab')
                                | Remote Image

                    .tab-content(style='margin-top: 1em;')
                        #image.tab-pane.fade.in.active
                            .form-group
                                label.control-label Local Image
                                input.form-control(type='file', name='img')

                        #dir.tab-pane.fade
                            .form-group
                                label.control-label Directory
                                input.form-control(type='text', name='dir')

                        #remote.tab-pane.fade
                            .form-group
                                label.control-label Remote Image
                                input.form-control(type='text', name='url')

                    .form-group
                        label.control-label Initial Tags
                        select.form-control(multiple, name='tags')

                    .form-group
                        label.control-label People
                        select.form-control(multiple, name='people')

                #uploading.hidden
                    p Uploading images, please wait...
                    .progress
                        .progress-bar.progress-bar-striped.active(style='width: 100%;')

            .modal-footer
                button.btn.btn-primary(type='button') Upload Image
                button.btn.btn-default(type='button', data-dismiss='modal') Close
