extends ./_layout

block content
    .container
        .row
            .col-md-12
                ul.breadcrumb
                    li
                        a(href='/')
                            span.fa.fa-home
                    li.active Edit Image

        .row
            .col-md-6.text-center
                img.img-thumbnail.img-responsive(src='{{img.File_Path}}', alt='{{img.File_name}}', title='{{img.File_name}}')

            .col-md-6
                .form-group
                    label.control-label Entity
                    select#currentPerson.form-control(multiple, data-imageid='{{img.ImageId}}')
                        | {% if img.People|length != 0 %}
                        | {% for p in img.People %}
                        option(value="{{p.PersonId}}", selected="selected") {{p.Name}}
                        | {% endfor %}
                        | {% endif %}

                .form-group
                    label.control-label Tags
                    select#currentTags.form-control(multiple, data-imageid='{{img.ImageId}}')
                        | {% if img.Tags|length != 0 %}
                        | {% for t in img.Tags %}
                        option(value="{{t.TagId}}", selected="selected") {{t.TagName}}
                        | {% endfor %}
                        | {% endif %}

                .form-group
                    .checkbox
                        label
                            | {% if img.Favorite and img.Favorite == true %}
                            input#chkFavorite(type='checkbox', checked='checked', data-imageid='{{img.ImageId}}')
                            | {% else %}
                            input#chkFavorite(type='checkbox', data-imageid='{{img.ImageId}}')
                            | {% endif %}
                            |   Favorite

                .form-group
                    a.btn.btn-default(href='/')
                        span.fa.fa-arrow-left
                        = ' '
                        span Go Back

block script
    script.
        EditImage.activateCurrentPerson();
        EditImage.activateCurrentTags();
