#editMultipleImagesModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4.modal-title Settings
            .modal-body
                .row
                    .col-md-4
                        ul.list-inline

                    .col-md-8
                        form
                            .form-group
                                label.control-label Add Tags
                                select.form-control(name='tags', multiple)

                            .form-group
                                label.control-label Add Person
                                select.form-control(name='person')

                            .form-group
                                label.control-label Add to Album
                                select.form-control(name='album')


            .modal-footer
                button.btn.btn-primary(type='button') Save Changes
                button.btn.btn-default(type='button', data-dismiss='modal') Close