#settingsModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Settings
          .modal-body
            form
                .form-group
                    .checkbox
                        label
                            input(type='checkbox', name='debug')
                            | Debug Mode

                .form-group
                    .checkbox
                        label
                            input(type='checkbox', name='assets')
                            | Debug Assets

                .form-group
                    label.control-label Port
                    input.form-control(type='text', name='port', placeholder='5000')

                .form-group
                    label.control-label DB Path
                    input.form-control(type='text', name='db')

                .form-group
                    label.control-label Destination Folder
                    input.form-control(type='text', name='container')
          .modal-footer
            button.btn.btn-primary(type='button', data-dismiss='modal') Save Changes
            button.btn.btn-default(type='button', data-dismiss='modal') Close