extends ./_layout

block content
    .container
        .row
            .col-md-12
                ul.breadcrumb
                    li
                        a(href='/')
                            span.fa.fa-home

                    li
                        a(href='/people')
                            | View People

                    li.active
                        | {{person.Name}}

        .row
            .col-sm-4.col-md-3.text-center
                img.img-thumbnail.img-responsive(src='{{img}}', alt='{{person.Name}}', style='max-width: 200px; max-height: 200px;')
            .col-sm-8.col-md-9
                .panel.panel-default(style='height: 200px;')
                    .panel-heading {{person.Name}}

                    .panel-body
                        .social-links
                            | {% if person.FacebookUserName %}
                            a(href='https://facebook.com/{{person.FacebookUserName}}', target='_blank')
                                span.fa-stack
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fa.fa-facebook.fa-stack-1x.fa-inverse

                            | {% endif %}

                            | {% if person.InstagramUserName %}
                            a(href='https://instagram.com/{{person.InstagramUserName}}', target='_blank')
                                span.fa-stack
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fa.fa-instagram.fa-stack-1x.fa-inverse
                            | {% endif %}

                            | {% if person.TwitterUserName %}
                            a(href='https://twitter.com/{{person.TwitterUserName}}', target='_blank')
                                span.fa-stack
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fa.fa-twitter.fa-stack-1x.fa-inverse
                            | {% endif %}

                    table.table
                        tbody
                            tr
                                th Ranking
                                td {{ranking.Rank}} of {{ranking.TotalPeople}} People

                                th Number of images
                                td {{images}}

                                td {{percentage}}%

        .row
            .col-md-12
                ul.nav.nav-tabs
                    li.active
                        a(href='#edit', data-toggle='tab') Edit {{person.Name}}

                    | {% if person.InstagramUserName %}
                    li
                        a(href='#instagram', data-toggle='tab') View Instagram
                    | {% endif %}

                .tab-content
                    #edit.tab-pane.active.fade.in
                        form#editPerson(data-personid='{{person.PersonId}}', style='margin-top: 1em;')
                            .form-group
                                label.control-label Name
                                input.form-control(type='text', name='name', value='{{person.Name}}')

                            .form-group
                                label.control-label Instagram Username
                                input.form-control(type='text', name='instagram', value='{{person.InstagramUserName if person.InstagramUserName}}')

                            .form-group
                                label.control-label Facebook Username
                                input.form-control(type='text', name='facebook', value='{{person.FacebookUserName if person.FacebookUserName}}')

                            .form-group
                                label.control-label Twitter Username
                                input.form-control(type='text', name='twitter', value='{{person.TwitterUserName if person.TwitterUserName}}')

                            .form-group
                                button.btn.btn-primary(type='button') Save Changes

                    #instagram.tab-pane.fade
                        .row
                            .col-md-12
                                ul.list-inline.text-center
                                    | {% if instagram|length == 0 %}
                                    li
                                        .alert.alert-warning
                                            | Sorry, this user's Instagram account is currently set to private and cannot be viewed publicly
                                    | {% else %}
                                    | {% for i in instagram %}
                                    li.text-center
                                        .instagram-wrapper
                                            img.img-thumbnail.img-responsive(src='{{i["images"]["low_resolution"].url}}', height='{{i["images"]["low_resolution"].height}}px', width='{{i["images"]["low_resolution"].width}}px', alt='{{i["user"].username}}')
                                            button.btn-sm.btn-default.download-insta(data-personid='{{person.PersonId}}', data-name='{{person.Name}}', data-img='{{i["images"]["standard_resolution"].url}}', data-toggle='modal', data-target='#uploadImageModal')
                                                span.fa.fa-download
                                    | {% endfor %}
                                    | {% endif %}