extends ./_layout

block content
    .container
        .row
            .col-md-12
                ul.breadcrumb
                    li
                        a(href='/')
                            span.fa.fa-home
                    li.active
                        | View People


    .container
        .row
            .col-md-12
                form#searchPeopleForm(action='/people', method='GET')
                    input(type='hidden', name='page', value='1')
                    .form-group
                        label.control-label Search for person
                        .input-group
                            input.form-control(type='text', name='person', value='{{person if person else ""}}')
                            span.input-group-btn
                                button.btn.btn-primary(type='submit')
                                    span.fa.fa-search

        .row
            .col-md-12
                table#viewPeopleTable.table.table-striped.table-hover
                    thead
                        tr
                            th Name
                            th.text-center Favorite
                            th
                            th
                    tbody
                        | {% if people|length == 0 %}
                        tr
                            td.text-center(colspan='4')
                                | No people were found in the database
                        | {% else %}
                        | {% for p in people %}
                        tr(data-personid="{{p.PersonId}}")
                            td {{p.Name}}
                            td.text-center
                                | {% if p.Favorite != None %}
                                input(type='checkbox', checked)
                                | {% else %}
                                input(type='checkbox')
                                | {% endif %}
                            td.text-center
                                a.btn.btn-xs.btn-default(href='/people/edit/{{p.PersonId}}')
                                    span.fa.fa-fw.fa-pencil
                                    = ' '
                                    span Edit
                            td.text-center
                                button.btn.btn-xs.btn-default
                                    span.fa.fa-fw.fa-trash
                                    = ' '
                                    span Delete
                        | {% endfor %}
                        | {% endif %}
                        tr
                            td.text-center(colspan='4')
                                a.btn.btn-xs.btn-primary(href='#')
                                    span.fa.fa-plus
                                    = ' '
                                    span Add person
                .nav.text-center
                    ul.pagination
                        | {% if page == 1 %}
                        li.disabled
                            a
                                span(aria-hidden='true') &laquo
                        | {% else %}
                        li
                            a(href='/people?page={{page-1}}', aria-label='Previous')
                                span(aria-hidden='true') &laquo
                        | {% endif %}

                        | {% for n in range(1, pages+1) %}
                        | {% if page == n %}
                        li.active
                            a(href='/people?page={{n}}') {{n}}
                        | {% else %}
                        li
                            a(href='/people?page={{n}}') {{n}}
                        | {% endif %}

                        | {% endfor %}

                        | {% if page == pages %}
                        li.disabled
                            a
                                span(aria-hidden='true') &raquo
                        | {% else %}
                        li
                            a(href='/people?page={{page + 1}}', aria-label='Next')
                                span(aria-hidden='true') &raquo
                        | {% endif %}

block script
    script.
        var $table = $('#viewPeopleTable');
        $table.find('button').each(function() {
            var self = $(this);
            self.on('click', function() {
                $.ajax({
                    url: '/api/person/' + self.closest('tr').data('personid'),
                    method: 'DELETE',
                    success: function(data) {
                        //$.notify(data.result);
                        document.location.reload(true);
                    }
                });
            });
        });
