#addPeopleModal.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') x
                h4.modal-title Add People
            .modal-body
                .form-group
                    label.control-label Directory:
                    input#txtAddPeople.form-control(type='text', name='directory')
            .modal-footer
                button#btnAddPeople.btn.btn-primary(type='button') Save
                button.btn.btn-default(type='button', data-dismiss='modal') Close