// Add person modal
#addPersonModal.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') x
                h4.modal-title Add Person
            .modal-body
                .form-group
                    label.control-label Name:
                    input#txtAddPerson.form-control(type='text', placeholder='Jane Doe')
                span#add-person-error
            .modal-footer
                button#btnAddPerson.btn.btn-primary(type='button') Save
                button.btn.btn-default(type='button', data-dismiss='modal') Close