nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Scarlett
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
            a(href="/")
                span.fa.fa-home
                = " "
                span Home
        li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='true')
                span.fa.fa-picture-o
                = ' '
                span Images
                = ' '
                span.caret
            ul.dropdown-menu
                li
                    a(href='#', data-toggle='modal', data-target='#uploadImageModal')
                        span.fa.fa-fw.fa-upload
                        = " "
                        span  Upload Images
        li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='true')
                span.fa.fa-group
                = ' '
                span People
                = ' '
                span.caret
            ul.dropdown-menu
                li
                    a(href='#', data-toggle='modal', data-target='#addPersonModal')
                        span.fa.fa-fw.fa-user
                        = " "
                        span  Add Person
                li
                    a(href='#', data-toggle='modal', data-target='#addPeopleModal')
                        span.fa.fa-fw.fa-group
                        = ' '
                        span Add People
                li
                    a(href='/people')
                        span View All People

        li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='true')
                span.fa.fa-tags
                = ' '
                span Tags
                = ' '
                span.caret
            ul.dropdown-menu
                li
                    a(href='#', data-toggle='modal', data-target='#addTagModal')
                        span.fa.fa-fw.fa-tag
                        = " "
                        span Add Tag
                li
                    a(href='/tags')
                        span View All Tags

        li
            a(href='/stats')
                span.fa.fa-bar-chart
                = ' '
                span Stats

      ul.nav.navbar-nav.navbar-right
        li
            a(href='#', data-toggle='modal', data-target='#settingsModal')
                span.fa.fa-cog
                = ' '
                | Settings
