// Add Tag modal
#addTagModal.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') x
                h4.modal-title Add Tag
            .modal-body
                .form-group
                    label.control-label Tag:
                    input#txtAddTag.form-control(type='text', placeholder='Redhead')
            .modal-footer
                button#btnAddTag.btn.btn-primary(type='button') Save
                button.btn.btn-default(type='button', data-dismiss='modal') Close