extends ./_layout

block content
    .container
        .row
            .col-md-12
                ul.breadcrumb
                    li
                        a(href='/')
                            span.fa.fa-home
                    li.active
                        | View All Tags

        .row
            .col-md-12
                table.table.table-striped.table-hover
                    thead
                        tr
                            th Tag
                            th
                    tbody
                        | {% if tags|length == 0 %}
                        | {% else %}
                        | {% for tag in tags %}
                        tr
                            td {{tag.TagName}}
                            td.text-center
                                button.btn.btn-xs.btn-primary
                                    span.fa.fa-fw.fa-pencil
                                    span Edit
                        | {% endfor %}
                        | {% endif %}

