.sidebar
    form#searchImages
        input(type='hidden', name='limit', value='50')

        .panel.panel-default
            ul.list-group
                li.list-group-item
                    .form-group
                        label.control-label Tags
                        select.form-control(multiple, name='tags')
                            | {% if tags is defined %}
                            | {% for tag in tags %}
                            option(value='{{tag.TagId}}', selected='selected') {{tag.TagName}}
                            | {% endfor %}
                            | {% endif %}

                    .form-group
                        label.control-label Person
                        select.form-control(multiple, name='person')
                            | {% if person is defined %}
                            option(value='{{person.PersonId}}', selected='selected') {{person.Name}}
                            | {% endif %}

                    .form-group
                        label.control-label Order By
                        select.form-control(name='orderBy')
                            option(value='asc') Ascending
                            option(value='desc') Descending

                    .checkbox.checkbox-success
                        | {% if favorites %}
                        input#chkFavorites(type="checkbox", name="favorites", checked)
                        | {% else %}
                        input#chkFavorites(type="checkbox", name="favorites")
                        | {% endif %}
                        label(for='chkFavorites') Favorites Only


                li.list-group-item
                    input(type='hidden', name='currentPage', value='{{page}}')
                    .row
                        .col-md-3
                            input(type='hidden', value='1', name='first', disabled)
                            button.btn.btn-block.btn-primary.first(type='button', disabled)
                                span.fa.fa-angle-double-left
                        .col-md-3
                            input(type='hidden', value='{{page - 1}}', name='previous', disabled)
                            button.btn.btn-block.btn-primary.previous(type='button', disabled)
                                span.fa.fa-angle-left
                        .col-md-3
                            input(type='hidden', value='{{page + 1}}', name='next', disabled)
                            button.btn.btn-block.btn-primary.next(type='button')
                                span.fa.fa-angle-right
                        .col-md-3
                            input(type='hidden', value='{{pages}}', name='last', disabled)
                            button.btn.btn-block.btn-primary.last(type='button')
                                span.fa.fa-angle-double-right

                li.list-group-item
                    a.btn.btn-block.btn-primary(href='#') Open All Images

                li.list-group-item
                    .checkbox.checkbox-primary
                        input#chkEditMultiple(type='checkbox', name='editMultipleImages')
                        label(for='chkEditMultiple')
                            | Select Multiple Images

                    .btn-group-vertical.edit-images-group.hidden(style='width: 100%;')
                        button.btn.btn-block.btn-primary(type='button', name='btnEditMultipleImages', data-toggle='modal', data-target='#editMultipleImagesModal') Edit Selected Images

                        button.btn.btn-block.btn-danger(type='button', name='btnDeleteMultipleImages') Delete Selected Images


    hr.hidden-sm.hidden-md.hidden-lg