| {% if images|length == 0 %}
.alert.alert-info
    span.fa.fa-exclamation-triangle
    = ' '
    | No images were found
| {% else %}
.row.viewImages
    | {% for img in images %}
    .img-col.col-sm-6.col-md-4.col-lg-3
        .thumbnail(style='height: 160px;', data-imageid='{{img.ImageId}}')
            .thumbnail-inner
                img(src='{{img.File_Path}}', alt='{{img.File_name}}', title='{{img.File_name}}')

                .btn-group.btn-group-sm.overlay
                    // Toggle Select
                    a.multiSelect.btn.btn-sm.btn-default.hidden
                        span.fa.fa-square-o

                    // Favorite button
                    a.fav-img-button.btn.btn-sm.btn-default
                        | {% if img.Favorite == True %}
                        span.fa.fa-star
                        | {% else %}
                        span.fa.fa-star-o
                        | {% endif %}

                    // Open button
                    a.open-img-button.btn.btn-sm.btn-default(href='#')
                        span.fa.fa-search-plus(data-toggle='tooltip', title='Open Image')

                    // Edit menu
                    .btn-group
                        button.edit-img-button.btn.btn-sm.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.fa.fa-ellipsis-v(data-toggle='tooltip', title='View Edit Menu Options')
                        ul.dropdown-menu.dropdown-menu-right
                            li
                                a(href='{{ url_for("images.image", image_id=img.ImageId) }}',
                                data-target='#editImageModal',
                                data-imageid='{{img.ImageId}}',
                                data-personid='{{img.People.PersonId}}')
                                    span.fa.fa-fw.fa-pencil
                                    = ' '
                                    span Edit Image
                            | {% if img.people[0] is defined %}
                            li.divider
                            li.dropdown-header {{img.people[0].Name}}
                            li
                                a.viewPerson(href='#', data-personid='{{img.people[0].PersonId}}', data-name='{{img.people[0].Name}}')
                                    span.fa.fa-fw.fa-picture-o
                                    = ' '
                                    span View All Photos

                            li
                                a(href='#')
                                    span.fa.fa-fw.fa-user
                                    = ' '
                                    span View Profile

                            li
                                a(href='/people/edit/{{img.people[0].PersonId}}')
                                    span.fa.fa-fw.fa-pencil
                                    = ' '
                                    span Edit Profile
                            | {% endif %}
                            li.divider
                            li
                                a.delete-img-button.text-danger(href='#')
                                    span.fa.fa-fw.fa-trash
                                    = ' '
                                    span Delete Photo
    | {% endfor %}
| {% endif %}
